name: Backend CI Pipeline

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend-pipeline.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t 90145/backend:latest ./backend

      - name: Push Docker Image
        run: |
          docker push 90145/backend:latest
